<div class="messages">
  <div class="message">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
  <div class="message coach">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>

<%= link_to 'Ask a new question', ask_path %>
