// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin-top: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 50%;
}

.message {
  margin-bottom: 50px;
  border-left: 5px solid lightgrey;
  padding-left: 20px;
  background-color: rgb(253,253,253);
  &.coach {
      background-color: #FFFDE1;
    }
}
